<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8Y0xztrv7YXISkNcpuGVOKiXiKWVTsFE</string>
	<key>GCM_SENDER_ID</key>
	<string>481340380447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohitkaradkar.apod.debug</string>
	<key>PROJECT_ID</key>
	<string>flutter-apod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:012345678901:ios:1234567890123456789012</string>
</dict>
</plist>
